h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secundary);
}

.button {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .block {
    margin-bottom: 120px;
  }  